@font-face
{
	font-family: 'Raleway-Bold';
		src: url('./Raleway/static/Raleway-Bold.ttf') format('truetype');
}

body{
    margin: 0;
}

h2{
    margin: 0;
    font-family: 'Raleway-Bold', arial;
}

h3{
    font-size: 1.1em;
}

h4{
    margin: 0;
}

.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0%;
    height: 10%;
    background-color: white;
    padding-left: 3%;
    box-shadow: 1px 1px 10px rgb(208, 208, 208);
    z-index: 2;
}

.divLogo{
    width: 30%;
}

#imgNav{
    height: 50%;
    padding-top: 5%;
}

.navHeader{
    width: 40%;
    padding-right: 3%;
}

.ulHeader{
    width: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aNav{
    text-decoration: none;
}

.liNav{
    width: 33%;
    text-align: center;
    padding-top: 8%;
    border-top: 2.5px solid white;
}

.liNav1{
    border-top: 2.5px solid #0065FC;
    width: 33%;
    text-align: center;
    padding-top: 8%;
}

.aNav{
    color: #0065FC;
}

.aNav2{
    text-decoration: none;
    color: black;
}

.sousHeader{
    margin-top: 10%;
    padding-left: 3%;
}

.titre_sousheader{
    margin-bottom: 2.5%;
}

.form_recherche{
    width: 400px;
    height: 50px;
    margin-bottom: 2.5%;
}

.icon_recherche{
    background: #F2F2F2;
    border-radius: 10px 0 0 10px;
    width: 11%;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4.1%;
}

.ville_recherche{
    padding-left: 4%;
    font-size: 1.1em;
    border: 1px solid #F2F2F2;
    height: 90%;
    width: 52%;
    margin-left: -1%;
}

.boutton_recherche{
    background: rgb(0 89 252);
    font-size: 1.1em;
    border: 2px solid rgb(0 89 252);
    border-radius: 0 10px 10px 0;
    margin-left: -2%;
    width: 31%;
    height: 98%;
    color: white;
}

/* ---------- Filtres ---------- */

.filtres{
    display: flex;
    margin-bottom: 2%;
}

.div_filtres{
    margin-right: 2%;
}

.p_filtres1{
    display: flex;
    align-items: center;
    margin-right: 2%;
    font-family: 'Raleway-ExtraLight', arial;
}

.p_filtres2{
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    font-family: 'Raleway-ExtraLightItalic', arial;
}

.icon_filtres{
    color: #0059fc;
}
.div_filtres{
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
}

.span_filtre1, .span_filtre2, .span_filtre3, .span_filtre4{
    display: flex;
    background-color: #c3dcfb;
    width: 3em;
    height: 3em;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: scale(1.08);
}

.boutton_filtre1, .boutton_filtre2, .boutton_filtre3, .boutton_filtre4{
    border: none;
    background-color: #ffffff00;
    font-size: 1.2em;
    margin-right: 10px;
    margin-left: 5px;
}

.icon_p_filtres{
    display: flex!important;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    border: 1px solid #F2F2F2;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    color: #0059fc;
}

/* ---------- Hébergements ---------- */

.divHebergements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4%;
}

.Hebergements{
    width: 29.45%;
    background-color: white;
    padding: 5px;
    border-radius: 1.25em;
    height: 12em;
    box-shadow: 1px 1px 10px rgb(208, 208, 208);
}



.img_heb{
    width: 100%;
    height: 7em;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
}

.sectionHebergements{
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
}

.allHebergements{
    width: 67%;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.Heb1, .Heb2, .Heb4, .Heb5{
    margin-right: 4%;
    margin-bottom: 4%;
}

.Heb3, .Heb6{
    margin-bottom: 4%;
}

.titleHebergements{
    margin-left: 4%;
    margin-top: 5%;
}

.p_hebergements{
    font-weight: bold;
    padding-top: 2%;
    font-family: 'Raleway-ExtraLight', arial;
}

/* ---------- Hébergements Populaires ---------- */

.allPopulaire{
    width: 30%;
    background: #F2F2F2;
    border-radius: 20px;
    margin-left: 3%;
}

.titre_Populaire{
    display: flex;
    margin: 8%;
    margin-top: 12%;
    justify-content: space-between;
}

.fa-chart-line{
    margin-top: auto;
    margin-bottom: auto;
}

.Heb_populaire{
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 1.25em;
    margin-bottom: 8%;
    height: 9em;
    box-shadow: 1px 1px 10px rgb(208, 208, 208);
}

.div_img_pop{
    width: 40%;
}

.div_img_pop_2{
    width: 60%;
}

.img_pop{
    border-radius: 1em 0em 0em 1em;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div_descriptif{
    margin-left: 6%;
    margin-right: 6%;
}

.div_descriptif h3{
    margin-top: 3%;
    font-size: 1em;
    margin-bottom: 0;
}

.div_descriptif p{
    margin-top: 3%;
    margin-bottom: 5%;
}

.divStar_pop{
    margin-top: 36%;
}

.div_hebergements{
    margin: 8%;
}

.divStar{
    font-size: 0.55em;
}

.span_€{
    font-weight: bold;
}
/* ---------- 3 Etoiles ----------- */

.star4_1, .star4_2, .star4_3{
    color: #0065FC;
}

/* ---------- 4 Etoiles ----------- */

.star1_1, .star1_2, .star1_3, .star1_4{
    color: #0065FC;
}
.star3_1, .star3_2, .star3_3, .star3_4{
    color: #0065FC;
}
.star5_1, .star5_2, .star5_3, .star5_4{
    color: #0065FC;
}
.star8_1, .star8_2, .star8_3, .star8_4{
    color: #0065FC;
}
.star9_1, .star9_2, .star9_3, .star9_4{
    color: #0065FC;
}

/* ---------- 5 Etoiles ----------- */

.star2_1, .star2_2, .star2_3, .star2_4, .star2_5{
    color: #0065FC;
}
.star6_1, .star6_2, .star6_3, .star6_4, .star6_5{
    color: #0065FC;
}
.star7_1, .star7_2, .star7_3, .star7_4, .star7_5{
    color: #0065FC;
}

/* ---------- Etoiles vides ----------- */

.star1_5, .star3_5, .star4_4, .star4_5, .star5_5, .star8_5, .star9_5{
    color:#8080803d;
}

/* ---------- Activités ----------- */

.section_activités{
    margin: 5% 3% 5% 3%;
}

.acti_h2{
    margin-bottom: 3%;
}

.allActivités{
    display: flex;
    height: 28em;
}

.Activités{
    background-color: white;
    border-radius: 20px;
}

.div_titre_act{
    margin-top: 5%;
    margin-left: 7.5%;
}

.acti_1, .db_acti1, .acti_4, .db_acti2{
    width: 22.75%;
}

.acti_1, .db_acti1, .acti_4{
    margin-right: 3%;
}

.db_acti1, .db_acti2, .acti_1, .acti_4{
    height: 28em;
}

.div_img_act1, .div_img_act4{
    height: 87%;
}


.div_img_act5, .div_img_act6{
    height: 72.5%;
}

.img_act1, .img_act2, .img_act3, .img_act4, .img_act5, .img_act6{
    height: 100%;
    object-fit: cover;
}

.acti_1, .acti_2, .acti_3, .acti_4, .acti_5, .acti_6{
    box-shadow: 1px 1px 10px rgb(208, 208, 208);
}

.acti_2{
    height: 15.50em;
    margin-bottom: 2em;
}

.div_img_act2{
    height: 79%;
}

.acti_3{
    height: 10.50em;
}

.div_img_act3{
    height: 65%;
}

.acti_5{
    height: 13em;
    margin-bottom: 2em;
}

.acti_6{
    height: 13em;
}

.img_act{
    width: 100%;
    border-radius: 1em 1em 0 0;
}

/* ---------- FOOTER ---------- */

footer{
    display: flex;
    background-color: #F2F2F2;
    width: 100%;
}

.div_footer{
    margin-right: 15%;
    margin-bottom: 4%;
    margin-top: 1.5%;
}

.div_footer1{
    margin-left: 3%;
}

.h3_footer{
    font-size: 1.3em;
}

.p_footer{
    font-size: 1.1em;
    margin-bottom: 5%;
    font-family: 'Raleway-ExtraLight', arial;
}